/* Reset and Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bulma-size-medium: 1.5rem;
  --bulma-title-color: skyblue;
  --bulma-primary-bold: black;
}

header {
  height: 10vh;
  background-color: var(--bulma-title-color);

  
}

h1 {

  display: inline-flex;
  float: left;
  padding-left: 30px;
  word-spacing: 10px;
  margin-top: 20px;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  font-weight: bolder;
}

main {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 10px 20px;
  height: 80vh;
  margin-top: 10px;
}

#eventSearchContainer 
#eventResultsContainer 
{
flex: 1;
padding: 20px;
box-sizing: border-box;
max-width: calc(50% - 10px); /* Adjust to maintain space between the panels */
}


#eventSearchContainer {
  margin-right: 10px;
  background-color: whitesmoke;
  width: 40%;
  border-width: 2px;
  border: 2px solid black;
  
}

#eventResultsContainer {
  
  margin-left: 10px; /* Space between containers */
  background-color: whitesmoke;
  width: 60%;
  border: 2px solid black;
}

form ul {
  list-style-type: none;
}

form ul li {
  margin-bottom: 10px; /* Space between input fields */
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 10px;

}


#search-form{
width: 450px;
}

button {
  background-color: green;
  color: var(--bulma-primary-bold);
  cursor: pointer;
  font-size: medium;
  letter-spacing: 0.21px;
  line-height: 8px;
  width: 100%; /* Full width button */
  padding: 10px; /* Adjust padding */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: solid black;
  display: block;
  size : var(--bulma-size-medium);
}

li label {
  display: block;
  margin-bottom: 10px;
  color: hsl(0, 0%, 4%);
  
}

input {
  width: 200px;
  padding: 6px;
  margin-top: 10px;
  font-size: small;
  border: 2px solid black;
}

#button {

padding-top: 10px;

}


#errorMsg {
  display: none;
  color: hsl(348, 100%, 61%);
  margin-top: 10px;
}

.card {
position: relative;

}

.more-info-link {

  position: absolute;
  bottom: 10px;
  right: 10px;
  color:blue;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}
